
<div class="container">
    <!-- {{userData | json}} -->
     <table class="table">
       <thead>
         <tr>
       
           <th scope="col">S.no</th>
           <th scope="col">Title</th>
           <th scope="col">Photo</th>
           <th scope="col">Action</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let obj of userData; index as i ">
           <th scope="row">{{obj.id}}</th>
           <td>{{obj.title}}</td>
           <td> <img [src]="obj.thumbnailUrl"></td>
           <td> <button class="btn btn-primary" (click)="compare(i)">Compare</button></td>
         </tr>
        
       </tbody>
     </table>
     
   </div>


   <div class="container compare">
    <app-compare (valueChange)='displayCounter($event)'></app-compare>
   </div>